<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve results</title>
</head>
<body>


<div id="container" style="width:1500px;margin:auto">

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">Download results or upload more test data</h1></div>

<div id="menu" style="background-color:#FFD700;width:200px;float:left;">
<b>菜单</b><br>
HTML<br>
CSS<br>
JavaScript
</div>

<div id="content" style="background-color:#EEEEEE;width:1300px;float:left;">


</div>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © UCLA</div>
</div>

</body>
</html>